<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Set New Password</title>
</head>
<body>
  <h1>Set New Password</h1>
  {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="code" value="{{ code }}">
    <input type="password" name="password" placeholder="New password" required><br><br>
    <input type="password" name="confirm_password" placeholder="Confirm password" required><br><br>
    <button type="submit">Set Password</button>
  </form>
</body>
</html>
